<div class="bg-instructions text-center d-inline-flex  flex-column justify-content-start px-4 pt-2 pb-4">
  <h3 class="mb-3">Instructions</h3>
  <div class="btn-group" role="group">
    <button class="btn btn-warning">1</button>
    <button class="btn btn-light">Choose a Card and memorize it</button>
  </div>
  <br>
  <div class="btn-group" role="group">
    <button class="btn btn-warning">2</button>
    <button class="btn btn-light">For 3 rounds select the group where you see your Card</button>
  </div>
</div>
