<div class="bg-instructions text-center d-inline-flex  flex-column justify-content-start px-4 pt-2 pb-4">
  <h2 class="mb-3 text-neutra text-white">Instructions</h2>
  <div class="btn-group" role="group">
    <button class="btn btn-warning text-neutra">1</button>
    <button class="btn btn-light text-neutra">Choose a Card and memorize it</button>
  </div>
  <br>
  <div class="btn-group" role="group">
    <button class="btn btn-warning text-neutra">2</button>
    <button class="btn btn-light text-neutra ">For 3 rounds select the group where you see your Card</button>
  </div>
</div>
