<div class="container all-screen d-flex flex-column justify-content-around align-items-center">

  <h1 class="text-light">Your Card Iss</h1>

  <img src="/images/{{model}}.svg" class="img-fluid img-cards" alt="CARTA">

  {{#link-to "instructions"}}
    <button class="btn btn-danger">AGAIN</button>
  {{/link-to}}

</div>
