<div class="container d-flex flex-column justify-content-around all-screen">
  <h1 class="text-light text-architects">Your Card Is</h1>

  {{game-instructions}}

  {{#link-to "memorization"}}
    <button class="btn btn-danger text-neutra">PLAY</button>
  {{/link-to}}
</div>