<div class="container d-flex flex-column justify-content-around all-screen align-items-center">
  <h1 class="text-light text-architects">Memorize One</h1>

  <img src="/images/cartas1.svg" class="img-fluid img-cards" alt="CARTAS">

  {{#link-to "play"}}
    <button class="btn btn-danger text-neutra">READY</button>
  {{/link-to}}
</div>